APP_NAME=Humano
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_VERSION=
#APP_LOGO_PATH=

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
SHOW_CONSOLE_OUTPUT=true

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

DB_LEGACY_CONNECTION=mysql
DB_LEGACY_HOST=
DB_LEGACY_PORT=
DB_LEGACY_DATABASE=
DB_LEGACY_USERNAME=
DB_LEGACY_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=database
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=relay.outboundspamprotection.com
MAIL_PORT=587
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

IMAP_HOST=
IMAP_PORT=993
IMAP_PROTOCOL=imap
IMAP_ENCRYPTION=ssl
IMAP_VALIDATE_CERT=true
IMAP_USERNAME=
IMAP_PASSWORD=
IMAP_TIMEOUT=60
IMAP_DEFAULT_ACCOUNT=default

MAILBOX_DRIVER=log
MAILBOX_HOST=
MAILBOX_PORT=
MAILBOX_PROTOCOL=
MAILBOX_ENCRYPTION=
MAILBOX_VALIDATE_CERT=
MAILBOX_USERNAME=
MAILBOX_PASSWORD=
MAILBOX_TIMEOUT=
MAILBOX_DEFAULT_ACCOUNT=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

TWILIO_SID=
TWILIO_TOKEN=
TWILIO_SMS_FROM=
TWILIO_WHATSAPP_FROM=

STRIPE_KEY=
STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=

STRIPE_MAILER_BASIC=
STRIPE_MAILER_FOUNDATION=
STRIPE_MAILER_SCALE=

CASHIER_CURRENCY=
CASHIER_CURRENCY_LOCALE=

CURRENCYFREAKS_API_KEY=
CURRENCYFREAKS_BASE_CURRENCY=USD
CURRENCYFREAKS_TARGET_CURRENCIES=ARS,EUR

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

OVH_API_ENDPOINT=https://eu.api.ovh.com/1.0
OVH_APP_KEY=
OVH_APP_SECRET=
OVH_CONSUMER_KEY=
OVH_ENTERPRISE_ID=1

CLAUDE_API_KEY=
CLAUDE_MODEL=claude-3-5-sonnet-20241022
CLAUDE_MAX_TOKENS=1024
CLAUDE_AUTO_RESPOND=true
